.container{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 530px;
    height: 250px;
    overflow: hidden;
}

.sliderli{
    width: 100%;
    list-style: none;
}

.slider{
    display: flex;
    animation: SliderAnimation 1s 2s infinite
    alternate;
    width: 280%;
}

.imagen{
    width: 100%;
    height: 100%;
}

@keyframes SliderAnimation{
    0%{transform: translateX(0)}
    100%{transform: translateX(-300)}
}

